
.main-chat
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
      groupname
      %ul.main-header__left-box__member-list
        member:
        %li.main-header__left-box__member-list__member
          name
    .main-header__edit-btn
      = link_to 'Edit', edit_group_path(params[:group_id])
  .messages
    = render @messages
  = render "form"

