.side-chat
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        name
      %ul.side-header__box__menu
        %li.side-header__box__menu__edit-user
          %i.fa.fa-edit.edit-btn{ style: '&#xf044'}
        %li.side-header__box__menu__new-group
          %i.fa.fa-cog.gear-btn{ style: '&#xf013'}
  .groups
    .group
      %p.group__group-name
        name
      %p.group__group-lastmessage
        last
