$dark_orange: #ff9800;
$dark_navy: #253141;
$navy: #2f3e51;
$light_blue: #38AEF0;
$gray: #DDDDDD;


$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$black: #434a54;
$alert_orange: #F35500;
$side_header_font: bold;
$side_group_name: 15px;
$side_group_message: 11px;