.box{
  display: flex;
  .side-chat{
    box-sizing: border-box;
    height: 100vh;
    width: 300px;
    .side-header{
      display: flex;
      height: 100px;
      background-color: #253141;
      &__box{
        height: 24px;
        width: 260px;
        font-weight: bold;
        margin: 38px auto;
        color: white;
        &__user-name{
          float: left;
        }
        &__menu{
          display: flex;
          float: right;
          .edit-btn{
            color: white;
          }
          .gear-btn{
          color: white;
          }
        }
      }
    }
  }
}
